@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');


*{
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
}
div.container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.link{
  color: rgb(108, 140, 255);
}
a.link:hover{
  text-decoration: none;
}