div.about-card{
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0.75rem;
    position: relative;
}
div.about-card::before{
    content: "";
    display: inline-block;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    height: 100%;
    transition: all 0.2s ease-in;
}
div.about-card:hover::before{
    width: 100%;
}
div.about-card:hover>p{
    color: black;
}
div.about-card p.card-title{
    font-size: 1.1rem;
    font-weight: bold;
    position: relative;
    text-align: center;
    z-index: 2;
}
.about-child{
    margin-top: 1rem;
}
div.about-card p.card-content{
    margin-top: 0.55rem;
    position: relative;
    font-weight: 500;
    text-align: justify;
    z-index: 2;
}
